body {
	font-family: Arial, sans-serif;
	text-align: center;
}

svg {
	width: clamp(400px, 60%, 100%);
	height: auto;
}

h1,
h2,
h4 {
	color: #272727;
	text-align: center;
	top: 0;
	width: 100%;
}

.state {
	fill: #ccc;
}

.abbrText {
	fill: #000;
}

.hovered {
	fill: #279d21;
	stroke-width: 2;
}

.active {
	fill: #94068d;
	stroke-width: 2;
}

#stateLinks {
	justify-content: center;
}
